p {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin: 0;
}
.sans-serif {
  font-family: Helvetica, Arial, sans-serif;
  font-size:30px;
}
.csans {
  font-family: cursive;
}
.csans2 {
  font-family: cursive;
  font-size: 75px;
  text-decoration: underline;
}
.csans3 {
  font-family: cursive;
  font-size: 15px;
  font-style:italic;
}
.fantasy {
  font-family: fantasy;
  font-size:30px;
}
.monospace {
  font-family: monospace;
  font-size:30px;
}
.italic {
  font-style: italic;
}
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.bold {
  font-weight: bold;
}
.line-through {
  text-decoration: red wavy line-through;
}
.underline-overline {
  text-decoration: underline overline;
}
.dotted-underline {
  text-decoration: 3px dotted underline;
}
.word-spacing {
  word-spacing: 15px;
}
.letter-spacing {
  letter-spacing: -2px;
}
.solid-text-shadow {
  text-shadow: 3px 3px Black;
}
.soft-text-shadow {
  text-shadow: 1px 1px 2px HotPink, -2px -2px 4px Orange, 0px 0px 12px Blue;
}

th, td {
  border: 5px solid;
  border-color:#648D4C;
  border-radius: 10px;
  }
.center {
    margin-left: auto;
    margin-right: auto;
}

.bubble {
  position: absolute;
  left: 25px;
  border-width: 0px;
  border-style: solid;
  border-radius: 3px;
  padding: 10px;
  font-size: 20px;
  margin: 10;
  max-width: 400px;
  display: inline-block;
}
.bubble2 {
  position: relative;
  left: 200px;
  top: 69px;
  border-width: 0px;
  border-style: solid;
  border-radius: 3px;
  padding: 10px;
  font-size: 20px;
  margin: 10;
  max-width: 400px;
  display: inline-block;
}
.bubble3 {
  position: relative;
  left: 238px;
  top: 169px;
  border-width: 0px;
  border-style: solid;
  border-radius: 3px;
  padding: 10px;
  font-size: 20px;
  margin: 10;
  max-width: 400px;
  display: inline-block;
}
.bubble4 {
  position: relative;
  left: 289px;
  top: 218px;
  border-width: 0px;
  border-style: solid;
  border-radius: 3px;
  padding: 10px;
  font-size: 20px;
  margin: 10;
  max-width: 400px;
  display: inline-block;
}
.bubble5 {
  position: relative;
  left: 249px;
  top: 248px;
  border-width: 0px;
  border-style: solid;
  border-radius: 3px;
  padding: 10px;
  font-size: 20px;
  margin: 10;
  max-width: 400px;
  display: inline-block;
}
.bubble6 {
  position: relative;
  left: 320px;
  top: 310px;
  border-width: 0px;
  border-style: solid;
  border-radius: 3px;
  padding: 10px;
  font-size: 20px;
  margin: 10;
  max-width: 400px;
  display: inline-block;
}

body {
  background-image: repeating-conic-gradient(#F1FF90, #75C837, #F1FF90, #75C837, #F1FF90);
}
