p {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin: 0;
}

.title {
  font-size: 100px;
  text-align: center;
  color: #FFFFFF;
  transform: rotate(-5deg);
  text-shadow: -5px 5px 6px #000000;
}
.title:hover{
  transform: rotate(5deg);
}

.subheader {
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
}

.monospace {
  font-family: monospace;
  font-size:35px;
  text-align: right;
  color: #FFFFFF;
}
.monospace2 {
  font-family: monospace;
  font-size:35px;
  text-align: left;
  color: #FFFFFF;
}

.bubble {
  position: absolute;
  right: 50px;
  border-width: 0px;
  border-style: solid;
  border-radius: 3px;
  padding: 10px;
  font-size: 25px;
  margin: 10;
  max-width: 265px;
  display: inline-block;
  background-color: #FFC7C7;
  opacity: 0.6;
  transform: rotate(-3deg);
}
.bubble:hover {
  opacity:1;
  cursor: pointer;
  transform: rotate(3deg);
}

.bubble2 {
  position: absolute;
  right: 380px;
  top: 400px;
  border-width: 0px;
  border-style: solid;
  border-radius: 3px;
  padding: 10px;
  font-size: 25px;
  margin: 10;
  max-width: 265px;
  display: inline-block;
  background-color: #FFCDBB;
  opacity: 0.6;
  transform: rotate(3deg);
}
.bubble2:hover {
  opacity:1;
  cursor: pointer;
  transform: rotate(-3deg);
}

.bubble3 {
  position: absolute;
  right: 700px;
  top: 480px;
  border-width: 0px;
  border-style: solid;
  border-radius: 3px;
  padding: 10px;
  font-size: 25px;
  margin: 10;
  max-width: 265px;
  display: inline-block;
  background-color: #FFCD9F;
  opacity: 0.6;
  transform: rotate(-3deg);
}
.bubble3:hover {
  opacity:1;
  cursor: pointer;
  transform: rotate(3deg);
}

.bubble4 {
  position: absolute;
  left: 400px;
  top: 590px;
  border-width: 0px;
  border-style: solid;
  border-radius: 3px;
  padding: 10px;
  font-size: 25px;
  margin: 10;
  max-width: 265px;
  display: inline-block;
  background-color: #FFE79F;
  opacity: 0.6;
  transform: rotate(3deg);
}
.bubble4:hover {
  opacity:1;
  cursor: pointer;
  transform: rotate(-3deg);
}

.bubble5 {
  position: absolute;
  left: 50px;
  top: 650px;
  border-width: 0px;
  border-style: solid;
  border-radius: 3px;
  padding: 10px;
  font-size: 25px;
  margin: 10;
  max-width: 265px;
  display: inline-block;
  background-color: #F9FF93;
  opacity: 0.6;
  transform: rotate(-3deg);
}
.bubble5:hover {
  opacity:1;
  cursor: pointer;
  transform: rotate(3deg);
}

.bubble6 {
  position: absolute;
  left: 165px;
  top: 885px;
  border-width: 0px;
  border-style: solid;
  border-radius: 3px;
  padding: 10px;
  font-size: 25px;
  margin: 10;
  max-width: 265px;
  display: inline-block;
  background-color: #B5FB85;
  opacity: 0.6;
  transform: rotate(3deg);
}
.bubble6:hover {
  opacity:1;
  cursor: pointer;
  transform: rotate(-3deg);
}

.bubble7 {
  position: absolute;
  left: 505px;
  top: 965px;
  border-width: 0px;
  border-style: solid;
  border-radius: 3px;
  padding: 10px;
  font-size: 25px;
  margin: 10;
  max-width: 265px;
  display: inline-block;
  background-color: #A9FFE3;
  opacity: 0.6;
  transform: rotate(-3deg);
}
.bubble7:hover {
  opacity:1;
  cursor: pointer;
  transform: rotate(3deg);
}

.bubble8 {
  position: absolute;
  right: 505px;
  top: 1055px;
  border-width: 0px;
  border-style: solid;
  border-radius: 3px;
  padding: 10px;
  font-size: 25px;
  margin: 10;
  max-width: 265px;
  display: inline-block;
  background-color: #A4EEFF;
  opacity: 0.6;
  transform: rotate(3deg);
}
.bubble8:hover {
  opacity:1;
  cursor: pointer;
  transform: rotate(-3deg);
}

.bubble9 {
  position: absolute;
  right: 165px;
  top: 1185px;
  border-width: 0px;
  border-style: solid;
  border-radius: 3px;
  padding: 10px;
  font-size: 25px;
  margin: 10;
  max-width: 265px;
  display: inline-block;
  background-color: #A6C8FF;
  opacity: 0.6;
  transform: rotate(-3deg);
}
.bubble9:hover {
  opacity:1;
  cursor: pointer;
  transform: rotate(3deg);
}

.bubble10 {
  position: absolute;
  right: 225px;
  top: 1395px;
  border-width: 0px;
  border-style: solid;
  border-radius: 3px;
  padding: 10px;
  font-size: 25px;
  margin: 10;
  max-width: 265px;
  display: inline-block;
  background-color: #CAAAFF;
  opacity: 0.6;
  transform: rotate(3deg);
}
.bubble10:hover {
  opacity:1;
  cursor: pointer;
  transform: rotate(-3deg);
}

.bubble11 {
  position: absolute;
  right: 705px;
  top: 1515px;
  border-width: 0px;
  border-style: solid;
  border-radius: 3px;
  padding: 10px;
  font-size: 25px;
  margin: 10;
  max-width: 265px;
  display: inline-block;
  background-color: #E4AAFF;
  opacity: 0.6;
  transform: rotate(-3deg);
}
.bubble11:hover {
  opacity:1;
  cursor: pointer;
  transform: rotate(3deg);
}

.bubble12 {
  position: absolute;
  left: 225px;
  top: 1595px;
  border-width: 0px;
  border-style: solid;
  border-radius: 3px;
  padding: 10px;
  font-size: 25px;
  margin: 10;
  max-width: 265px;
  display: inline-block;
  background-color: #FFBCF1;
  opacity: 0.6;
  transform: rotate(3deg);
}
.bubble12:hover {
  opacity:1;
  cursor: pointer;
  transform: rotate(-3deg);
}

.bubble13 {
  position: absolute;
  left: 715px;
  top: 1845px;
  border-width: 0px;
  border-style: solid;
  border-radius: 3px;
  padding: 10px;
  font-size: 25px;
  margin: 10;
  max-width: 265px;
  display: inline-block;
  background-color: #FFB9DA;
  opacity: 0.6;
  transform: rotate(-3deg);
}
.bubble13:hover {
  opacity:1;
  cursor: pointer;
  transform: rotate(3deg);
}

body {
  height: 100%;
  background-image: url("bg4.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

button {
  border: none;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 3px;
  cursor: pointer;
  position: absolute;
  top: 2450px;
  opacity: 0.3;
}
button:hover {
  opacity: 0.9;
}
